/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    display: flex;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
} 

header {
    background-color: #212121;
    color: white;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;    
}

main {
    flex: 1;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
}


/* Web */
#proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#proyectos h2 {
    color: #212121;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

#contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

#contenedor-proyectos article {
    background-color: #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#contenedor-proyectos article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#contenedor-proyectos img {
    width: 100%;
    height: 180px;
    object-fit:contain;
}

#contenedor-proyectos a {
    text-decoration: none;
}

#contenedor-proyectos p {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #212121;
    font-size: 2rem;
}
