* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

main {
    background-color: rgb(203, 255, 248);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: rgb(20, 20, 20);
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.499);
}

#contenedor > div {
    display: flex;
    gap: 0.1rem;
}

.tecla {
    font-family: "Sansation", monospace;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 51);
    text-shadow: 0px 0px 6px rgb(255, 0, 0);
    border-radius: 0.2rem;
    border: 2px solid black;
    box-shadow: 0px 4px 6px rgb(255, 0, 51);
}

.tecla .material-symbols-outlined {
    font-size: 0.9rem;
}

/* Clase que se asigna cuando es pulsada una tecla */
.pulsada {
    color: rgb(224, 193, 15);
    text-shadow: 0px 0px 6px rgb(224, 193, 15);
    box-shadow: 0px 4px 7px rgb(224, 193, 15);
    margin: 0.1rem;
    font-size: 0.8rem;
}


